# =========================================

# Python

# =========================================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================================

# Virtual Environment

# =========================================

venv/
env/
ENV/

# =========================================

# Jupyter Notebook Checkpoints

# =========================================

.ipynb_checkpoints/

# =========================================

# VS Code / IDE

# =========================================

.vscode/
.idea/

# =========================================

# System Files

# =========================================

.DS_Store
Thumbs.db
.Trashes
.fseventsd

# =========================================

# Models

# =========================================

*.h5
*.keras
*.pkl

# =========================================

# Dataset

# =========================================

datasets/

# =========================================

# Outputs

# =========================================

outputs/
results/

# =========================================

# TensorFlow Logs

# =========================================

logs/
tensorboard_logs/

# =========================================

# Temporary Files

# =========================================

temp/
tmp/

# =========================================

# Streamlit

# =========================================

.streamlit/

# =========================================

# Environment Variables

# =========================================

.env

# =========================================

# Build / Distribution

# =========================================

build/
dist/
*.egg-info/

# =========================================

# Test Images

# =========================================

test_images/
