# =========================================
# Python
# =========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# Virtual Environment
# =========================================

venv/
env/

# =========================================
# Jupyter Notebook Checkpoints
# =========================================

.ipynb_checkpoints/

# =========================================
# VS Code
# =========================================

.vscode/

# =========================================
# System Files
# =========================================

.DS_Store
Thumbs.db

# =========================================
# Models
# =========================================

*.h5
*.keras
*.pkl

# =========================================
# Dataset
# =========================================

datasets/

# =========================================
# Outputs
# =========================================

outputs/

# =========================================
# TensorFlow Logs
# =========================================

logs/

# =========================================
# Temporary Files
# =========================================

temp/
tmp/